@import "compass/reset";
@import "compass/css3";

.canvas{
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
}
.clearfix{
    &:after {
      content:"";
      display:table;
      clear:both;
    }
}

$red: #E11132;
$black: #030303;

body{
    background-color: #EEEEE8;
    font-family: 'Hiragino Sans GB','Microsoft YaHei',arial,sans-serif;
}
header{
    &.fix-tips{
        z-index: 100;
        .tips{
            background-color: #ddd;
        }
        nav{
            position: fixed;
            top: 10px;
            left: 43%;
        }
    }
    .tips{
        position: fixed;
        top: 0;
        left: 0;
        height: 80px;
        width: 100%; 
    }
    img{
        margin: 20px auto;
    }
    h1{
        width: 90px;
        padding: 10px;
        margin: 20px auto;
        color: $red;
        border-top: 1px solid $red;
        border-bottom: 1px solid $red;
        font-size: 20px;
    }
    nav{
        ul{
            width: 220px;
            margin: 0 auto;
            li{
                float: left;
                padding: 10px;
                width: 38%;
                margin-left: 6px;
                div{
                    width: 34px;
                    height: 34px;
                    border-radius: 17px;
                    color: white;
                    float: left;
                    transition: all 0.5s;
                    icon{
                        display: inline-block;
                        margin-top: 7px;
                    }
                    &.holiday{
                        background-color: $red;
                    }
                    &.work{
                        background-color: $black;
                    }
                    &:hover{
                        width: 36px;
                        height: 36px;
                        border-radius: 18px;
                        cursor: pointer;
                        icon{
                            margin-top: 8px;
                        }
                    }
                }
                span{
                    display: inline-block;
                    margin-top: 10px;
                }
            }
        }
    }
}

.main-content{
    margin: 40px auto;
    .month{
        display: inline-block;
        width: 32.33%;
        margin: 20px auto;
        vertical-align: top;
        .container{
            width: 280px;
            margin: 0 auto;
            -webkit-box-shadow: 8px 10px 6px -6px #777;
            -moz-box-shadow: 8px 10px 6px -6px #777;
            box-shadow: 8px 10px 6px -6px #777;
        }
        .big{
            width: 280px;
            margin-top: 5px;
        }
        .calender{
            padding: 10px;
            background-color: white;
            width: 260px;
            margin: -4px auto 0;
            transition: all 2s;
            img{
                transition: all 2s;
                width: 260px;
            }
            &:hover{
                cursor: pointer;
                background-color: #ccc;
                @-webkit-keyframes img{
                    50%{
                        transform: translate(0,-80px);
                    }
                    100%{
                        transform: translate(0,0);
                    }
                }
            }
            .suggestion{
                padding: 15px 5px;
                border-top: 1px solid #ccc;
                text-align: left;
            }
        }
    }
}

footer.canvas{
    margin: 20px auto;
}
@import "media";
